# Laravel & PHP
/vendor
/node_modules
/.phpunit.cache
/.phpunit.result.cache
/storage/*.key
/storage/pail
/public/storage
/public/build
/public/hot

# Environment & config
.env
.env.backup
.env.production
/auth.json

# IDE / Editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log

# Tunnel files (ignored)
tunnel-run.sh
tunnel-url.txt
tunnel.log
